<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, accusamus fuga repellendus earum expedita. Consectetur dolor consequuntur, enim, quos in vitae asperiores maxime quidem, eius et placeat voluptatum iure itaque!</h2>
    <ul>
      <li v-for="block in blocks" :key="block.id" v-text="block.name" :style="{background: block.color}"></li>
    </ul>
    <a href="/" class="btn btn-primary">Back to home</a>
    <button class="btn btn-danger" @click="shuffle">Shuffle blocks</button>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'AboutUs',
  computed: {
    ...mapGetters(['blocks']),
  },
  data() {
    return {
      msg: 'Here we are!',
    };
  },
  methods: {
    shuffle() {
      this.$store.commit('moveblocks');
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
  min-height: 150px;
  min-width: 200px;
  color: white;
  padding-top: 50px;
}

img {
  max-width: 300px;
}
</style>
